
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
}


h1, h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #0062FF;
}

h1 {
    margin-bottom: 30px;
}


label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    font-size: 14px;
    color: #333;
}


input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #0062FF;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
}


button:hover {
    background-color: #0053d1;
}


p {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}


a {
    color: #0062FF;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}


#message {
    margin-top: 15px;
    color: red;
}


.custom-input {
    padding-left: 3rem; 
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    font-size: 16px;
}


.custom-icon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%); 
    width: 20px;
    height: 20px;
}


.custom-text {
    color: #0062FF;
}


.custom-link {
    color: #0062FF;
    text-decoration: none;
    font-weight: bold;
}


.custom-button {
    background-color: #0062FF;
    border-radius: 8px;
}


.custom-button:hover {
    background-color: #0053d1;
}
